@media(max-width: 695px){

    body{
        background: linear-gradient(-233deg, rgba(0, 0, 0, 0.946) 40%, rgba(0, 0, 0, 0) 85%) no-repeat ;
    }

    .container-menu {
        margin-right: 30px;
    }

    .cabecalho .logo-um {
       
        margin-left: 50px;
         
    }

    .home{
        
        padding-bottom: 300px;
    }

    .home img {
        max-width: 160px;
        max-height: 300px;
    
    }

    .home .texto h1 {
        font-size: 35px;
    }
}