@media(max-width: 1024px){
    body{
        background: linear-gradient(-233deg, rgba(0, 0, 0, 0.946) 40%, rgba(0, 0, 0, 0) 85%) no-repeat ;
    }

    .home .texto p {
        padding: 0 0 80px 20px;
        font-size: 23px;
        
    }
}




@media(max-width: 695px){

    body{
        background: linear-gradient(-233deg, rgba(0, 0, 0, 0.946) 40%, rgba(0, 0, 0, 0) 85%) no-repeat ;
    }

    .container-menu {
        display: block;
    }

    .cabecalho .logo-um {
       
        margin-left: 50px;
         
    }

    .home{
        
        padding-bottom: 300px;
    }

    .home img {
        max-width: 160px;
        max-height: 300px;
    
    }

    .home .texto h1 {
        font-size: 25px;
    }

    .home .texto p {
        padding: 0 0 90px 20px;
        font-size: 23px;
        
    }

    
}

@media(max-width: 470px){

    .cabecalho .logo-um {
 
        margin-left: 20px;
            
    }

    .home {
        margin-left:  20px;
        margin-right: 20px;
       
    }

    .home img {
        max-width: 120px;
    
    }

    .home .texto h1 {
        font-size: 20px;
        
    }

    .home .texto p {
        
        font-size: 18px;
    }

    .home .botao-comprar {
        
        width: 300px;

        padding: 20px;
      
        font-size: 20px;
        
    }

}